.elementor-1835 .elementor-element.elementor-element-58f78f2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-1835
  .elementor-element.elementor-element-d9eae05
  > .elementor-container
  > .elementor-row {
  justify-content: center;
}
.elementor-1835
  .elementor-element.elementor-element-d9eae05
  > .elementor-container {
  justify-content: center;
}
.elementor-1835 .elementor-element.elementor-element-d9eae05 {
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0px 0px 0px 0px;
}
.elementor-1835 .elementor-element.elementor-element-f8a03f9 {
  max-width: 1170px;
}
.elementor-1835
  .elementor-element.elementor-element-f8a03f9
  > .elementor-element-populated {
  box-shadow: -2px 8px 50px -20px rgba(54.999999999999986, 37.99999999999998, 13.999999999999996, 0.17);
}
.elementor-1835
  .elementor-element.elementor-element-6ba8ac9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1835
  .elementor-element.elementor-element-6ba8ac9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fdf9f2;
}
.elementor-1835 .elementor-element.elementor-element-6ba8ac9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 55px 200px 80px 200px;
}
.elementor-1835
  .elementor-element.elementor-element-6ba8ac9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1835
  .elementor-element.elementor-element-e3075aa
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1835
  .elementor-element.elementor-element-e3075aa
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1835 .elementor-element.elementor-element-f7d1aaf .c-ip-heading {
  text-align: center;
  font-size: 28px;
}
.elementor-1835
  .elementor-element.elementor-element-f7d1aaf
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 15px 0px;
}
.elementor-1835 .elementor-element.elementor-element-a3311ab {
  columns: 1;
}
.elementor-bc-flex-widget
  .elementor-1835
  .elementor-element.elementor-element-5793eca.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1835
  .elementor-element.elementor-element-5793eca.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1835
  .elementor-element.elementor-element-5793eca
  > .elementor-element-populated {
  padding: 60px 80px 60px 80px;
}
.elementor-1835 .elementor-element.elementor-element-5952ad3 .c-ip-heading {
  text-align: center;
  font-size: 28px;
}
.elementor-1835
  .elementor-element.elementor-element-5952ad3
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
}
.elementor-1835 .elementor-element.elementor-element-6d11adc {
  color: #181818;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}
.elementor-1835
  .elementor-element.elementor-element-6d11adc
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}
.elementor-1835
  .elementor-element.elementor-element-dc41b63
  > .elementor-element-populated {
  margin: -25px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1835 .elementor-element.elementor-element-53840dc {
  --spacer-size: 520px;
}
.elementor-1835
  .elementor-element.elementor-element-53840dc
  > .elementor-widget-container {

  background-position: center center;
  background-size: cover;
}
.elementor-1835 .elementor-element.elementor-element-bf3b24c {
  padding: 80px 30px 80px 30px;
}
.elementor-1835
  .elementor-element.elementor-element-7ac630f
  .c-ip-icon-list-1__item {
  width: 272px;
}
.elementor-1835
  .elementor-element.elementor-element-7ac630f
  .c-ip-icon-list-1__list {
  justify-content: space-evenly;
}
.elementor-1835
  .elementor-element.elementor-element-40a8fb7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1835
  .elementor-element.elementor-element-40a8fb7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fdf9f2;
}
.elementor-1835 .elementor-element.elementor-element-40a8fb7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 55px 40px 50px 40px;
}
.elementor-1835
  .elementor-element.elementor-element-40a8fb7
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1835 .elementor-element.elementor-element-25cfc7c .c-ip-heading {
  text-align: center;
}
.elementor-1835
  .elementor-element.elementor-element-25cfc7c
  > .elementor-widget-container {
  padding: 0px 0px 10px 0px;
}
.elementor-1835 .elementor-element.elementor-element-3d1a2c9 .c-ip-heading {
  text-align: center;
}
.elementor-1835
  .elementor-element.elementor-element-3d1a2c9
  > .elementor-widget-container {
  padding: 0px 0px 20px 0px;
}
@media (max-width: 1189px) {
  .elementor-1835 .elementor-element.elementor-element-d9eae05 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-1835 .elementor-element.elementor-element-6ba8ac9 {
    padding: 40px 100px 70px 100px;
  }
  .elementor-1835
    .elementor-element.elementor-element-5793eca
    > .elementor-element-populated {
    padding: 50px 40px 50px 40px;
  }
  .elementor-1835
    .elementor-element.elementor-element-7ac630f
    .c-ip-icon-list-1__item {
    width: 23%;
  }
  .elementor-1835
    .elementor-element.elementor-element-7ac630f
    .c-ip-icon-list-1__list {
    justify-content: space-evenly;
  }
  .elementor-1835 .elementor-element.elementor-element-40a8fb7 {
    padding: 40px 0px 45px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-1835 .elementor-element.elementor-element-d9eae05 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-1835 .elementor-element.elementor-element-6ba8ac9 {
    padding: 35px 40px 40px 40px;
  }
  .elementor-1835 .elementor-element.elementor-element-f7d1aaf .c-ip-heading {
    font-size: 24px;
  }
  .elementor-1835 .elementor-element.elementor-element-91d7521 {
    padding: 35px 0px 0px 0px;
  }
  .elementor-1835
    .elementor-element.elementor-element-5793eca
    > .elementor-element-populated {
    padding: 0px 40px 40px 40px;
  }
  .elementor-1835 .elementor-element.elementor-element-5952ad3 .c-ip-heading {
    font-size: 24px;
  }
  .elementor-1835
    .elementor-element.elementor-element-5952ad3
    > .elementor-widget-container {
    padding: 0px 0px 25px 0px;
  }
  .elementor-1835
    .elementor-element.elementor-element-dc41b63
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1835 .elementor-element.elementor-element-bf3b24c {
    padding: 40px 20px 40px 20px;
  }
  .elementor-1835
    .elementor-element.elementor-element-7ac630f
    .c-ip-icon-list-1__item {
    width: 150px;
  }
  .elementor-1835
    .elementor-element.elementor-element-7ac630f
    .c-ip-icon-list-1__list {
    justify-content: space-evenly;
  }
  .elementor-1835 .elementor-element.elementor-element-40a8fb7 {
    padding: 35px 0px 40px 0px;
  }
}
